<div class="cart-subtotal ">
	<h3 class="cart-subtotal__title header-3 text-blue mb-1">{{ 'cart.labels.subtotal' | t }}</h3>
	<h4 class="cart-subtotal__price body-1" data-cart-subtotal>{{ cart.total_price | money }}</h4>
</div>
