<div class="cart__submit-controls">
	{% comment %} <input type="submit" name="update"
	class="btn mt-0 mb-0 btn-primary cart__submit "
	value="{{ 'cart.buttons.update' | t }}" 
	data-btn-cart-update > {% endcomment %}
	{% if customer.b2b? and customer.company_available_locations_count > 0 %}
		<input type="button" class="btn btn-primary mt-4 mb-0 cart__submit" onclick="this.closest('form').submit();"
			value="{{ 'cart.buttons.checkout' | t }}">
	{% else %}
	<input type="submit" name="checkout"
	class="btn btn-primary mt-4 mb-0 cart__submit"
	value="{{ 'cart.buttons.checkout' | t }}"
	data-btn-cart-submit>
	{% endif %}
</div>
