<div class="cart__submit-controls">
	{% comment %} <input type="submit" name="update"
	class="btn mt-0 mb-0 btn-primary cart__submit "
	value="{{ 'cart.buttons.update' | t }}" 
	data-btn-cart-update > {% endcomment %}
	<input type="submit" name="checkout"
	class="btn btn-primary mt-4 mb-0 cart__submit"
	value="{{ 'cart.buttons.checkout' | t }}"
	data-btn-cart-submit>
</div>
