<a class="mini-nav__link header-6 mb-2" href="">Overview</a>
<a class="mini-nav__link header-6 mb-2" href="">Details</a>
<a class="mini-nav__link header-6 mb-2" href="">FAQs</a>
<a class="mini-nav__link header-6 mb-2" href="">Media</a>
<a class="mini-nav__link header-6 mb-2" href="">Reviews</a>
<a class="mini-nav__link header-6 mb-2" href="">Recipes</a>