<div class="modal modal-xl modal-destini modal-destini-find-a-store fade" 
    id="findAStoreModal" 
    tabindex="-1" 
    aria-label="Find A Store" 
    aria-hidden="true">
    <button type="button" class="btn-close d-none d-lg-block" data-bs-dismiss="modal" aria-label="Close">
        {% render 'icon-close-blue' %}
    </button>
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="btn-close d-lg-none" data-bs-dismiss="modal" aria-label="Close">
                {% render 'icon-close-blue' %}
            </button>
            <div class="modal-body">            
                <div id="destini-find-a-store-modal"></div>
            </div>
        </div>
    </div>
  </div>