/* new changes product page */
.price__b2b-label {
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  font-family: SaaSeriesED W05 Regular;
  margin-bottom: 10px;
  font-weight: 500
}

.product-grid-item .price.price--has_b2b-true {
  margin-block: 1.5rem 0.5rem;
}
.product-grid-item .price.price--has_b2b-true .price__pricing-group {
  margin-top: 0;
}

.product-single__details .price.price--has_b2b-true {
  margin-block: 2rem;
}
.product-description p:last-child {
  margin-bottom: 0;
}

/* Product template in-out stock */
  .product-stock {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    padding-left: 16px;
    position: relative;
    margin-block: 0.25rem 1.25rem;
    color: #B88B1F;
    font-family: SaaSeriesED W05 Regular;
  }
  .product-stock:before {
    content: '';
    width: 6px;
    height: 6px;
    display: block;
    position: absolute;
    left: 0;
    top: calc(50% - 3px);
    background: currentColor;
    border-radius: 50%;
  }
  .product-stock.stock-out {
    color: #EB1C1F;
  }
  @media screen and (min-width: 750px ) {
    .product-stock {
      margin-block: 0.5rem 1.5rem;
    }
  }
/* Product template in-out stock */
/* new changes product page */

/* global css */
.hide{display: none;}
/* global css */


/* cart footer  */
  .cart-checkout-error .wrapper {
    border-radius: 4px;
    background: rgba(235, 28, 31, 0.05);
    padding: 0.5rem 0.75rem;
    color: #EB1C1F;
    position: relative;
    padding-left: 2.25rem;
    font-size: 0.875rem;
  }

  .cart-checkout-error .wrapper svg {
    vertical-align: middle;
    margin-top: -4px;
    font-weight: 400;
    position: absolute;
    top: 0.8rem;
    left: 0.75rem;    
    width: 1rem;
    height: 1rem;
  }

  .cart-checkout-error .wrapper a {
    color: inherit;
    font-weight: 600;
  }

  .cart-checkout-error .wrapper a:hover {
    color: #b88b20;
  }

  @media screen and (min-width: 641px){
    .cart-checkout-error .wrapper {
        padding: 0.5rem 1rem;        
        padding-left: 2.625rem;        
        font-size: 1rem;
    }   
    .cart-checkout-error .wrapper svg {
        left: 1rem; 
    }
  }
/* cart footer  */