<div class="page-width">
  <div class="empty-page-content text-center">
    <h1 class="header-1">{{ 'general.404.title' | t }}</h1>
    <p class="header-3">{{ 'general.404.subtext' | t }}</p>
    <p>
      <a href="{{ routes.root_url }}" class="btn btn-primary btn--has-icon-after">Back to Home</a>
    </p>
  </div>
</div>
