
<section class="container page-section-page-title basic-page rte">
  <div class="row">
    <div class="mt-5 mb-4 mb-lg-5 col-lg-8 offset-lg-2">
      <h1 class="header-1">{{page.title}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="content col-lg-8 offset-lg-2">
        {{ page.content }}
    </div>
  </div>
</section>
